body{
    background-color: rgb(79, 104, 103);
}
a{
    color: rgb(255, 255, 255);
    margin :30px;
    align-items: center;
    font-size: 20px;
}
img{
    border: solid;
    border-radius: 30%;
    height: 600px;
    width: 400px;
    margin: 30px;
}
section{
    text-align: center;
}
.s1{
    
    color: white;
    padding: 20px 50px;
}