body{
    background-color: rgb(79, 104, 103);
    font-family: "Lato", sans-serif;
}
nav{
    margin: 30px;
}

img{
    align-items:center;
    height:300px;
    width:100px;
    border-raduis:30%;
    border:solid;
}
