.s1{
    background-color: rgb(153, 153, 153);
}
p{
    display: inline;
    margin: 90px;
}
.s{
    background-color: orange;
}
.s2{
    display: inline;
}
img{
    height: 100px;
    width: 85px;
    margin: 8px;
}
.p3{
    text-align: center;
    background-image: url(a12.jpg);
}
a{
    color: rgb(40, 91, 107);
}