body{
    text-align:center;
}
.s1{
    background-color: rgb(153, 153, 153);
    text-align:left;
    font-size:24px;
}
p{
    display: inline;
    margin: 90px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.s{
    background-color: orange;
}
.s2{
    display: inline;
}
img{
    height: 240px;
    width: 220px;
    margin: 25px;
    padding: 30px;
}
.p3{
    text-align: center;
    background-image: url(a12.jpg);
}
a{
    color: rgb(40, 91, 107);
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
}
